@model Blogcatch.ViewModel.Front.BlogPostDetailViewModel
@{
    ViewBag.Title = "Post";
}

@{
    Html.RenderAction("Navbar", "Navbar", new { area = "" });
}

<header class="intro-header" style='background: url("/Content/images/post-bg.jpg") no-repeat center center;'>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">Posted by @Model.Author.Email on @Model.PostDate</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <article class="the-post">
                @Html.Raw(Model.Content)
            </article>
            <hr/>
            <section class="the-comments">
                @if (Model.AllowComments)
                {

                }
                else
                {
                    <p>Comments are disabled for this post.</p>
                }
            </section>
        </div>
    </div>
</div>