@model Blogcatch.ViewModel.Front.CategoriesWidgetViewModel

<h4>Blog @Model.Type</h4>
<div class="row">
    <div class="col-md-6">
        <ul class="list-unstyled">
            @foreach (string category in Model.FirstCategoriesList)
            {
                
                <li>@Html.ActionLink(category, "Index", "Blog", new {category = category},null)</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-unstyled">
            @foreach (string category in Model.SecondCategoriesList)
            {
                <li>@Html.ActionLink(category, "Index", "Blog", new { category = category },null)</li>
            }
        </ul>
    </div>
</div>