@model Blogcatch.ViewModel.WidgetViewModel

@using (Html.BeginForm("Search", "Blog", FormMethod.Post))
{
    <div class="form-group">
        <label for="query">@Model.Type</label>
        <input type="text" class="form-control" id="query" name="query" placeholder="Search for a blog...">
    </div>
        <button type="button" class="btn btn-success btn-sm">Search</button>
}